@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
}

header{

    
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0; left: 0; right: 0;
    border-radius: .5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3); 
    padding: 0 .1rem;
    transition: .2s linear;
    z-index: 1000;
}

header .logo{
    color: brown;
    font-size: 1.5rem;
}

header .logo span{
    color: blue;
}

header .navbar ul{
    list-style: none;
    
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    display: block;
    color: darkgreen;
    padding: 20px;
    font-size: 20px;
}

header .navbar ul li a:hover{
    background: orange;
    color: #fff;
}

header .navbar ul li ul{
    position: absolute;
    color: #fff;
    line-height: 10px;
    width: 200px;
    left: 0;
    display: none;
    
}



header .navbar ul li ul li{
    
    top: 0;
    width: 230px;
    background: grey;
    border-top: 1px solid rgba(0, 0, 0, .2);
}


header .navbar ul li:hover >ul, header .navbar ul li:focus-within >ul{
    display: initial;
}


#menu-bar{
    display: none;
}

header label{
    color: darkgreen;
    font-size: 20px;
    cursor: pointer;
    display: none;
}




















@media(max-width:991px){
    header{
        padding: 10px;
    }

    header label{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        border-top: 1px solid rgba(0, 0, 0, .1);
        background: #fff;
        display: none;
    }

    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }
    
    header .navbar ul li ul li{
        background: #eee;
        left: 0;
    }

    #menu-bar:checked ~ .navbar{
        display: initial;
    }
    
    
}

